{% extends 'layout.html' %}

{% block contenido %}

<div class="">

    <form class="formulario" action="" method="">
        
        <label for="Nombre">Correo Electronico</label>
        <input class="form-control" type="email" class="form-control" required>
        <br>
        <label for="Contraseña">Contraseña</label>
        <input class="form-control" type="password" class="form-control" required>
        <br>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
    
</div>

{% endblock %}