
.formulario{

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width:400px;
    height:auto;
    background-color: white;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    display: flexbox;
    z-index: -1;
}



body {
    padding-top: 5%;
    z-index: -1;
    background-color: #e4ebe7;
}

.logo{
    width:40px;
    height:40px;

}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    box-shadow: 0px 0px 10px black;
    position:fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.navbar-nav.ml-auto{

    padding-left:380px;
}


footer{

    margin-bottom: 0px;
}

.fab.fa-instagram{
    padding-right: 5px;
}

.fab.fa-facebook-f{

    padding-right: 5px;
}

